@import 'bulma/sass/utilities/_all.sass';

// Derived colors
$primary: #EDC139;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$secondary: #D02440;
$secondary-light: findLightColor($secondary);
$secondary-dark: findDarkColor($secondary);
$secondary-invert: findColorInvert($secondary);

$link: #3CBEC5;
$link-light: findLightColor($link);
$link-dark: findDarkColor($link);
$link-invert: findColorInvert($link);

$danger: $secondary;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        'white': (
            $white,
            $black
        ),
        'black': (
            $black,
            $white
        ),
        'light': (
            $light,
            $light-invert
        ),
        'dark': (
            $dark,
            $dark-invert
        ),
        'primary': (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark
        ),
        'secondary': (
            $secondary,
            $secondary-invert,
            $secondary-light,
            $secondary-dark
        ),
        'link': (
            $link,
            $link-invert,
            $link-light,
            $link-dark
        ),
        'info': (
            $info,
            $info-invert,
            $info-light,
            $info-dark
        ),
        'success': (
            $success,
            $success-invert,
            $success-light,
            $success-dark
        ),
        'warning': (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark
        ),
        'danger': (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark
        )
    ),
    $custom-colors
);

// Body global
$body-background-color: $black-ter;

// Text
$text: $white;
$text-strong: $white;

// Links
// $link: $secondary-dark;
// $link-invert: $secondary-invert;
// $link-focus-border: $secondary;
$link-hover: $link-light;

// Box
$box-background-color: $secondary;
$box-color: $white;

// Card
$card-background-color: $grey-dark;

// Dropdown
$dropdown-content-background-color: $grey-darker;

// Input
$input-color: $white;
$input-border-color: $grey-dark;
$input-background-color: $grey-dark;

//Modal
$modal-card-head-background-color: $link;
$modal-card-body-background-color: $grey-darker;
$modal-card-spacing: 160px;
$modal-card-head-border-bottom: none;
$modal-card-foot-border-top: none;


//Tag
$tag-background-color: $grey-darker;
