@import './variables';
@import 'bulma/bulma.sass';
@import '@oruga-ui/theme-bulma/dist/scss/bulma';

 
// html {
//     background-color: $fresh;
// }

.is-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Hiding label for horizontal field group - add class "no-label"
.field.is-horizontal.no-label {
    .field-label {
        display: none;
    }
}
